html, body { height:100%; background-color: #ffffff;}
body { margin:0; padding:0; overflow:hidden;}
h6 {text-align: center;}

#content { width:100%; height:100%;}
#threeColumn {
	display:flex;justify-content:center;align-items:flex-start;flex-direction:row;height:50%;position:relative;
}

.card {background-color: lightyellow; width:200px; padding:10px; margin: 5px auto 5px;}
.column {width:230px; display:flex; flex-flow:column; align-items:stretch; flex-grow:1; background-color:white; margin-left:5px; margin-bottom:5px;}
.column-flex {display:flex; flex-flow:column; height:100%; background-color:lightgrey;}

.droptarget {overflow:scroll; height:;}
.sticky {position:absolute;top:0;display:block;width:100%;}

.card .ondrag {box-shadow:4px 4px 4px grey;}